@model Bx_Web.Models.RegisterViewModel

@{
    ViewBag.Title = "新增终端用户信息";
    Layout = null;
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">		
			function OnSuccess(data) {
				if(data.Status) {
					var BootstrapDialog1=new BootstrapDialog({
						title:"提示",
						message: data.Message,
						buttons: [{
							icon: "glyphicon glyphicon-remove",
							label: "关闭",
							action: function(dialogItself) {
								dialogItself.close();
								window.location.href = data.Url;
							}
						}]
					});
					BootstrapDialog1.setType(BootstrapDialog.TYPE_SUCCESS);
					BootstrapDialog1.open();					
				} else {
					var BootstrapDialog2=new BootstrapDialog({
						title:"提示",
						message: data.Message,
						buttons: [{
							icon: "glyphicon glyphicon-remove",
							label: "关闭",
							cssClass:"btn-danger",
							action: function(dialogItself) {
								dialogItself.close();
							}
						}]
					});
					BootstrapDialog2.setType(BootstrapDialog.TYPE_DANGER);
					BootstrapDialog2.open();					
				}
			}

			function OnFailure() {
				var BootstrapDialog0=new BootstrapDialog({
					title:"提示",
					message: "Connection error",
					buttons: [{
							icon: "glyphicon glyphicon-remove",
							label: "关闭",
							cssClass:"btn-danger",
							action: function(dialogItself) {
								dialogItself.close();
							}
						}]
				});
				BootstrapDialog0.setType(BootstrapDialog.TYPE_DANGER);
				BootstrapDialog0.open();
			}
    </script>
<div class="wrapper">
    <div class="register-box">
        <div class="register-content">
            
            @using (Ajax.BeginForm("add", "Customer",new AjaxOptions { Url = Url.Action("add", "Customer", new { area="admin"}), OnSuccess = "OnSuccess", OnFailure = "OnFailure" },new{id="customeradd"}))
            {
                <div class="form-group">
                    <label>登录账号</label>@Html.TextBoxFor(m => m.username)
                    @Html.ValidationMessageFor(m => m.username)

                </div>
                <div class="form-group">
                    <label>密码</label>@Html.PasswordFor(m => m.password)
                    @Html.ValidationMessageFor(m => m.password)
                </div>
                <div class="form-group">
                    <label>密码确认</label>@Html.PasswordFor(m => m.repassword)
                    @Html.ValidationMessageFor(m => m.repassword)
                </div>
                <div class="form-group">
                    <label>联系人</label>@Html.TextBoxFor(m => m.Contacts)
                    @Html.ValidationMessageFor(m => m.Contacts)
                </div>
                <div class="form-group">
                    <label>手机号码</label>@Html.TextBoxFor(m => m.Phone)
                    @Html.ValidationMessageFor(m => m.Phone)
                </div>
                <div class="form-group">
                    <label>所属区域</label>@Html.TextBoxFor(m => m.Area)
                    @Html.ValidationMessageFor(m => m.Area)
                </div>
                
                <div class="form-group">
                    <label>公司名称</label>@Html.TextBoxFor(m => m.CorporateName)
                    @Html.ValidationMessageFor(m => m.CorporateName)
                </div>
                
                <div class="form-group">
                    <label>邮箱地址</label>@Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="form-group">
                    <label>详细地址</label>@Html.TextAreaFor(m => m.Address)
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
                
                <!--<input type="submit" value="新增" class="btn btnsty btn-register" />-->


            }

        </div>
    </div>
</div>
